<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Orders</title>
    <link rel="stylesheet" href="/css/admin/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/css/admin/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css"
        integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">
                        <i class="fa-solid fa-house"></i>
                        <span class="menu-title pl-2">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/user">
                        <i class="fa-solid fa-user"></i>
                        <span class="menu-title pl-3">Users</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/product">
                        <i class="fa-brands fa-product-hunt"></i>
                        <span class="menu-title pl-2">Products</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupon">
                        <i class="fa-solid fa-gift"></i>
                        <span class="menu-title pl-2">Coupons</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/table">
                        <i class="fa-solid fa-ticket"></i>
                        <span class="menu-title pl-2">Banners</span>
                    </a>
                </li>
            </ul>
            <style>
                .audio {
                    font-size: 100px;
                    font-weight: bold;
                }

                .custom-select {
                    appearance: none;
                    background-color: #f8f9fa;
                    border: 1px solid #ced4da;
                    padding: 8px;
                    border-radius: 4px;
                    width: 100%;
                    font-size: 14px;
                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }

                .custom-select:focus {
                    border-color: #80bdff;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                }

                .submit-btn {
                    border: none;
                    border-radius: 6px;
                    color: white;
                }
            </style>
            <div class="text-center">
                <h1 class="audio">A</h1>
                <h1 class="audio">U</h1>
                <h1 class="audio">D</h1>
                <h1 class="audio">I</h1>
                <h1 class="audio">O</h1>
            </div>
        </nav>
        <div class="col-lg-10 grid-margin mt-5 ">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-hover display">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>payment Type</th>
                                    <th>payment Status</th>
                                    <th>Order Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach((element ,index)=> { %>
                                    <tr>
                                        <td>
                                            <%=index + 1 %>
                                        </td>
                                        <td><%-element.product.productName %></td>
                                        <td><%-element.total %></td>
                                        <td><%-element.paymentType %></td>
                                        <td><%-element.paid %></td>
                                        <td id="orderStatus-<%=element.id %>"><%-element.orderStatus %></td>
                                        <td>
                                            <button type="button" class="btn btn-dark px-2 py-0" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal-<%=element._id %>">
                                                more
                                            </button>
                                            <% if (element.returnRequest && element.orderStatus !== 'returned') { %>
                                                <span>
                                                    <i class="fa-solid fa-bell"></i>
                                                </span>
                                                <% } %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <% orders.forEach(i=> { %>
            <div class="modal fade" id="exampleModal-<%=i._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                About order
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6 class="fw-bold">Ordered Address</h6>
                            <%-i.address.address[0].firstName %>,
                                <%-i.address.address[0].phone %>,
                                    <%-i.address.address[0].pinCode %>,
                                        <%-i.address.address[0].flatHouse %>,
                                            <%-i.address.address[0].areaStreet %>,
                                                <%-i.address.address[0].landmark%>,
                                                    <%-i.address.address[0].townCity%>,
                                                        <%-i.address.address[0].state%>,
                        </div>
                        <div class="modal-body">
                            <h6 class="fw-bold">Ordered Date</h6>
                            <p><%-i.createdAt %></p>
                        </div>
                        <div class="modal-body d-flex">
                            <h6 class="fw-bold">quantity : </h6>
                            <h6 class="fw-bold ps-2"><%-i.quantity %></h6>
                        </div>
                        <div class="modal-body pb-0 ">
                            <h5 class="mb-3">Order Status</h5>
                            <form class="d-flex" id="orderForm">
                                <div class="form-group">
                                    <% if (i.orderStatus=='delivered' ) { %>
                                        <p class="text-success fw-bold">Item is Delivered <i
                                                class="fa-solid fa-check"></i></p>
                                        <% } else if (i.orderStatus=='cancelled' ) { %>
                                            <p class="text-danger fw-bold">order has been cancelled by user <i
                                                    class="fa-solid fa-xmark" style="color: #cb1515;"></i></p>
                                            <% } else if (i.orderStatus=='returned' ) { %>
                                                <p class="fw-bold text-success">Refund successful</p>
                                                <%} else { %>
                                                    <select name="orderStatus" id="order" class="custom-select">
                                                        <option value="<%-i.orderStatus %>"><%-i.orderStatus %></option>
                                                        <option value="confirmed">Confirmed</option>
                                                        <option value="out of Delivery">out of Delivery</option>
                                                        <option value="delivered">Delivered</option>
                                                    </select>
                                </div>
                                <div>
                                    <button class="ms-3 submit-btn bg-secondary p-1 px-3"
                                        onclick="statuSubmit('<%-i._id %>' ,event)">
                                        submit
                                    </button>
                                    <% } %>
                                </div>
                                <!-- return controller -->
                            </form>
                        </div>
                        <div class="ms-3 mb-2">
                            <% if (i.returnRequest && i.orderStatus !=='returned' ) { %>
                                <p class="fw-bold">cancallation request</p>
                                <div>
                                    <button type="button" class="btn btn-success btn-sm"
                                        onclick="approveRequest('<%-i.product._id %>', '<%-i._id %>', '<%-i.quantity %>')">
                                        Approve
                                    </button>
                                </div>
                                <% } %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
                <!-- Modal -->
    </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
    <script>
        function statuSubmit(id, e) {
            e.preventDefault()
            // const form = document.getElementById('orderForm')
            // const orderStatus = form.order.value
            const orderStatus = document.getElementById('order').value

            axios.post('/admin/orderControl', { orderStatus, id })
                .then(({ data }) => {
                    if (data == true) {
                        const orderStatusElement = document.getElementById(`orderStatus-${id}`)
                        if (orderStatusElement) {
                            orderStatusElement.textContent = orderStatus
                            Swal.fire(`order status changed as ${orderStatus}`)
                            const closeButton = document.querySelector(`#exampleModal-${id} .btn-secondary`)
                            if (closeButton) {
                                closeButton.click()
                            }
                        }
                    }
                }).catch((err) => {
                    console.log(err);
                });
        }

        function approveRequest(productId, id, quantity) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Approve it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log("hi");
                    axios
                        .post('approveRequest', { productId, id, quantity })
                        .then(({ data }) => {
                            if (data == 'refundDone') {
                                Swal.fire(
                                    'Done',
                                    'Refund proccess has been done',
                                    'success'
                                ).then(() => {
                                    window.location.href = '/admin/orders'
                                })
                            }
                        }).catch((err) => {
                            console.log(err);
                        });
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Re-confirm it',
                        'error'
                    )
                }
            })
        } 
    </script>
</body>

</html>