<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Checkout</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" type="image/x-icon" href="/img/cartFavicon.png">
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body style="background-color: #c7c7c7">
  <section class="h-100 h-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Checkout</h1>
                    </div>
                    <div class="d-flex justify-content-between ">
                      <h5>Select your address</h5>
                      <h6 class="text-uppercase">items : <%-productCount %></h6>
                    </div>
                    <hr class="my-4 mt-3" />
                    <form id="addressForm">
                      <div class="align-items-center">
                        <% address.forEach( (i ,index)=> { %>
                          <div class="col-md-12 col-lg-12 col-xl-12 mb-4">
                            <div class="d-flex align-items-center">
                              <input onclick="selectedAddress(`<%-i.uniqueNumber %>`)" type="radio"
                                id="addressId <%-i.uniqueNumber %>" name="address" value="<%-i.uniqueNumber %>" />
                              <label for="address <%-index + 1 %>" class="ms-3 text-black mb-0 fw-bolder">
                                <%-i.firstName %> , <%-i.phone %> , <%-i.pinCode %>, <%-i.flatHouse %> , <%-i.areaStreet
                                          %>,
                                          <%-i.landmark %> , <%-i.townCity %>, <%-i.state %>
                              </label>
                              <a href="/editAddress/<%-i.uniqueNumber %>"><i
                                  class="fa-solid fa-pen-to-square ms-2"></i></a>
                            </div>
                          </div>
                          <% }) %>
                      </div>
                    </form>
                    <div>
                      <a href="/profile"><i class="fa-solid fa-plus"></i> Add new Address</a>
                    </div>
                    <hr class="my-3" />
                  </div>
                  <div class="mx-5 mb-5" id="paymentDiv" style="display: none">
                    <div>
                      <h3 class="mb-4">Select a payment method</h3>
                    </div>
                    <input type="radio" id="Cod" value="COD" name="paymentMethod" />
                    <label for="Cod" class="fw-bolder text-secondary">Cash on Delivery/Pay on Delivery</label>
                    <br />
                    <input type="radio" id="online" name="paymentMethod" value="Online" />
                    <label for="online" class="fw-bolder text-secondary mt-2">Online payment</label>
                  </div>
                </div>

                <div class="col-lg-4 bg-grey">
                  <div class="p-5 pb-3">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4" />
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <input type="password" id="enterPassword" class="ps-3 py-1" placeholder="ENTER PASSWORD"
                          style="display: none;" />
                        <button type="button" class="btn btn-dark ms-2" id="validatePassword" style="display: none;"
                          onclick="validatePassword()">Validate</button>
                        <div class="d-flex align-items-center">
                          <button type="button" class="btn btn-dark me-5" id="useWallet" onclick="useWalletAmount()">use
                            wallet amount</button>
                          <h5 class="ms-5 ps-3" id="walletAmount">₹ <%-wallet %></h5>
                        </div>
                      </div>
                    </div>
                    <p class="mt-2 text-danger fw-bolder" id="passwordErrText"></p>
                    <hr class="my-4 mt-2" />
                    <div class="mb-2 pb-2 d-flex">
                      <input type="text" name="" id="applycouponCode" class="ps-3 py-1" placeholder="COUPON" />
                      <button class="ms-2 px-4 COUPON" onclick="checkCoupon()" id="couponButton">Apply</button>
                    </div>
                    <div>
                      <p id="errMsg" class="text-danger fw-bolder"></p>
                      <p id="successText" class="text-success fw-bolder" style="display: none;">
                        Coupon Applied <i class="fa-solid fa-tag" style="color: #2f991a;"></i>
                      </p>
                    </div>
                    <hr class="my-4" />
                    <div class="d-flex justify-content-between mb-3">
                      <h5 class="text-uppercase">Order Total</h5>
                      <h5 id="totalPrice">₹ <%-totalVal %></h5>
                    </div>
                    <p class="text-secondary" style="line-height: 20px">
                      Choose a payment method to continue checking out. You
                      will still have a chance to review and edit your order
                      before it is final.
                    </p>
                    <a href="#">
                      <button class="button_slide slide_right" id="selectButton" onclick="selectAddressbtn()">
                        Use this Address
                      </button>
                    </a>
                    <a href="#">
                      <button class="button_slide slide_right" id="paymentBtn" onclick="selectPaymentBtn()"
                        style="display: none;">
                        Procced to Payment
                      </button>
                    </a>
                    <p class="text-danger mt-3" id="errText"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

  <script>
    const errMsg = document.getElementById('errMsg')
    let productPrice = parseInt(
      document.getElementById("totalPrice").innerHTML.replace(/[^\d.-]/g, "")
    );
    let walletAmount
    let checkWalletUse = false

    //wallet
    const onlineInput = document.getElementById("online");
    const onlineLabel = document.querySelector("label[for='online']");

    function validatePassword() {
      const password = document.getElementById('enterPassword').value
      axios
        .post('/validatePassword', { password, productPrice })
        .then(({ data }) => {
          if (data == 'no') {
            const passwordErrText = document.getElementById('passwordErrText')
            passwordErrText.innerText = "password not match"
          }
          else {
            productPrice = data.productAmount
            walletAmount = data.wallet

            document.getElementById("totalPrice").innerHTML = '₹' + productPrice
            if (productPrice === 0) {
              onlineInput.style.display = 'none'
              onlineLabel.style.display = 'none'
            }
            checkWalletUse = true
          }
        })
    }

    function useWalletAmount() {
      const element = parseInt(document.getElementById("walletAmount").innerHTML.replace(/[^\d.-]/g, ""))
      if(element === 0){
        const passwordErrText = document.getElementById('passwordErrText')
        passwordErrText.innerText = 'no amount in wallet'
        setTimeout(() => {
          passwordErrText.innerText = ''
        }, 3000);
      }
      else{
        document.getElementById('useWallet').style.display = 'none'
        document.getElementById('walletAmount').style.display = 'none'
        document.getElementById('enterPassword').style.display = 'block'
        document.getElementById('validatePassword').style.display = 'block'
      }
    }
    // wallet end

    function checkCoupon() {
      if (productPrice !== 0) {
        const applycouponCode = document.getElementById('applycouponCode').value
        if (productPrice === 0) {
        }
        axios
          .post("/checkCoupon", { applycouponCode, productPrice })
          .then(({ data }) => {
            if (data == "notExist") {
              errMsg.innerText = "!coupon Invalid"
              setTimeout(() => {
                errMsg.innerText = ""
              }, 3000);
            }
            else if (data.message == "amountReached") {
              errMsg.innerText = `coupon is applicable for ${data.minimumPurchase} above purchase`
              setTimeout(() => {
                errMsg.innerText = ""
              }, 3000);
            }
            else if (data == "dateValidity") {
              errMsg.innerText = 'Coupon Date validity expired'
              setTimeout(() => {
                errMsg.innerText = ""
              }, 3000);
            }
            else {
              const successText = document.getElementById('successText')
              successText.style.display = "block"
              const minusAmount = data.amount
              productPrice -= minusAmount
              document.getElementById("totalPrice").innerHTML = '₹' + productPrice
              const button = document.getElementById('couponButton')
              button.disabled = 'true'
            }
          }).catch((err) => {
            console.log(err);
          });
      }
      else {
        errMsg.innerText = 'Total amount is zero'
        setTimeout(() => {
          errMsg.innerText = ""
        }, 3000);
      }
    }

    const address = document.getElementById("addressId");
    const selectButton = document.getElementById("selectButton");
    const paymentBtn = document.getElementById("paymentBtn");
    const paymentMethodRadio = document.getElementsByName('paymentMethod')
    const errText = document.getElementById('errText')
    let addressIdForm;

    function selectedAddress(id) {
      addressIdForm = id;          // for getting id from form
    }

    function selectAddressbtn() {
      const addressId = addressIdForm;
      if (!addressId) {
        errText.innerText = "Make sure that you selected the address"
        setTimeout(() => {
          errText.innerText = ""
        }, 3000);
      }
      else {
        const paymentDiv = (document.getElementById(
          "paymentDiv"
        ).style.display = "block");
        selectButton.style.display = "none"
        paymentBtn.style.display = "block"
      }
    }

    function selectPaymentBtn() {
      let paymentType
      const address = addressIdForm;
      for (const radio of paymentMethodRadio) {
        if (radio.checked) {
          paymentType = radio.value
          break
        }
      }
      if (!paymentType) {
        errText.innerText = 'Select a payment method'
        setTimeout(() => {
          errText.innerText = ""
        }, 3000);
      }
      else {
        const applycouponCode = document.getElementById('applycouponCode').value
        axios.post("/checkoutPost", { address, paymentType, applycouponCode, walletAmount, checkWalletUse })
          .then(({ data }) => {
            const order = {
              order: data.id,
              amount: data.amount
            }
            if (paymentType == "Online") {
              razorPay(order)
            } else if (data == true) {
              Swal.fire(
                'Order Placed',
                'back to shop',
                'success'
              ).then(() => {
                window.location.href = "/shop/"
              })
            }
          }).catch((err) => {
            console.log(err);
          });
      }
    }
    function razorPay(order) {
      var options = {
        key: "rzp_test_Jp83wQwCBaThly", // Enter the Key ID generated from the Dashboard
        amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        currency: "INR",
        name: "Audio",
        description: "Test Transaction",
        order_id: order.id, //This is a sample Order ID. Pass the id obtained in the response of Step 1
        handler: function (response) {
          if (response) {
            const paymentId = response.razorpay_payment_id
            axios.post('/checkoutPost', { paymentId })
            Swal.fire(
              'Order Placed',
              'back to shop',
              'success'
            ).then(() => {
              window.location.href = "/shop/"
            })
          }
        },
        prefill: {
          name: " Faris",
          email: "faristpwork@gmail.com",
          contact: "9562146113",
        },
        notes: {
          address: "Razorpay Corporate Office",
        },
        theme: {
          color: "#7bbd8d",
        },
      };
      var rzp1 = new Razorpay(options);
      console.log('options are', options);
      rzp1.on("payment.failed", function (response) {
      });
      rzp1.open();
    }
  </script>
</body>

</html>