<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cart</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body style="background-color: #c7c7c7">
  <section class="h-100 h-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Checkout</h1>
                    </div>
                    <h5>Select your address</h5>
                    <hr class="my-4" />
                    <form id="addressForm">
                      <div class="align-items-center">
                        <% address.forEach( (i ,index)=> { %>
                          <div class="col-md-12 col-lg-12 col-xl-12 mb-4">
                            <div class="d-flex align-items-center">
                              <input onclick="selectedAddress(`<%-i.uniqueNumber %>`)" type="radio"
                                id="addressId <%-i.uniqueNumber %>" name="address" value="<%-i.uniqueNumber %>" />
                              <label for="address <%-index + 1 %>" class="ms-3 text-black mb-0 fw-bolder">
                                <%-i.firstName %> , <%-i.phone %> , <%-i.pinCode %>, <%-i.flatHouse %> , <%-i.areaStreet
                                          %>,
                                          <%-i.landmark %> , <%-i.townCity %>, <%-i.state %>
                              </label>
                              <a href="/editAddress/<%-i.uniqueNumber %>"><i
                                  class="fa-solid fa-pen-to-square ms-2"></i></a>
                            </div>
                          </div>
                          <% }) %>
                      </div>
                    </form>
                    <div>
                      <a href="/profile"><i class="fa-solid fa-plus"></i> Add new Address</a>
                    </div>
                    <hr class="my-3" />
                  </div>
                  <div class="mx-5 mb-5" id="paymentDiv" style="display: none">
                    <div>
                      <h3 class="mb-4">Select a payment method</h3>
                    </div>
                    <input type="radio" id="Cod" value="COD" name="paymentMethod" />
                    <label for="Cod" class="fw-bolder text-secondary">Cash on Delivery/Pay on Delivery</label>
                    <br />
                    <input type="radio" id="online" name="paymentMethod" value="Online" />
                    <label for="online" class="fw-bolder text-secondary mt-2">Online payment</label>
                  </div>
                </div>

                <div class="col-lg-4 bg-grey">
                  <div class="p-5 pb-3">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4" />

                    <div class="d-flex justify-content-between mb-1">
                      <h6 class="text-uppercase">items <%-productCount %></h6>
                      <h6><%-totalVal %></h6>
                    </div>
                    <hr class="my-4" />
                    <div class="d-flex justify-content-between mb-3">
                      <h5 class="text-uppercase">Order Total</h5>
                      <h5 id="totalPrice">₹ <%-totalVal %></h5>
                    </div>
                    <p class="text-secondary" style="line-height: 20px">
                      Choose a payment method to continue checking out. You
                      will still have a chance to review and edit your order
                      before it is final.
                    </p>
                    <a href="#">
                      <button class="button_slide slide_right" id="selectButton" onclick="selectAddressbtn()">
                        Use this Address
                      </button>
                    </a>
                    <a href="#">
                      <button class="button_slide slide_right" id="paymentBtn" onclick="selectPaymentBtn()"
                        style="display: none;">
                        Procced to Payment
                      </button>
                    </a>
                    <p class="text-danger mt-3" id="errText"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

  <script>
    const productPrice = parseInt(
      document.getElementById("totalPrice").innerHTML.replace(/[^\d.-]/g, "")
    );
    const address = document.getElementById("addressId");
    const selectButton = document.getElementById("selectButton");
    const paymentBtn = document.getElementById("paymentBtn");
    const paymentMethodRadio = document.getElementsByName('paymentMethod')
    const errText = document.getElementById('errText')
    let addressIdForm;

    function selectedAddress(id) {
      addressIdForm = id;          // for getting id from form
    }

    function selectAddressbtn() {
      const addressId = addressIdForm;
      if (!addressId) {
        errText.innerText = "Make sure that you selected the address"
        setTimeout(() => {
          errText.innerText = ""
        }, 3000);
      }
      else {
        const paymentDiv = (document.getElementById(
          "paymentDiv"
        ).style.display = "block");
        selectButton.style.display = "none"
        paymentBtn.style.display = "block"
      }
    }

    function selectPaymentBtn() {
      let paymentType
      const address = addressIdForm;
      for (const radio of paymentMethodRadio) {
        if (radio.checked) {
          paymentType = radio.value
          break
        }
      }
      if (!paymentType) {
        errText.innerText = 'Select a payment method'
        setTimeout(() => {
          errText.innerText = ""
        }, 3000);
      }
      else {
        axios.post("/checkoutPost", { address, paymentType })
          .then(({ data }) => {
            if (data == true) {
              Swal.fire(
                'Order Placed',
                'back to shop',
                'success'
              ).then(() => {
                window.location.href = "/shop/"
              })
            }
          }).catch((err) => {
            console.log(err);
          });
      }
    }
  </script>
</body>

</html>