<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit address</title>
    <link rel="stylesheet" href="/css/templatemo.css" />
    <link rel="stylesheet" href="/css/formAddress.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container d-flex justify-content-center mt-5">
      <div class="col-lg-4 col-sm-12">
        <h2 class="heading">Edit your address</h2>
        <div class="form mt-4">
          <label for="name" class="fw-bold fs-6"
            >Full name (First and Last name)</label
          >
          <input type="text" name="name" value="<%-userAddress.address[0].firstName %>" id="name" />
        </div>
        <div class="form mt-2">
          <label for="number" class="fw-bold fs-6">Mobile number</label>
          <input type="number" name="number" value="<%-userAddress.address[0].phone %>" id="number" />
        </div>
        <div class="form mt-2">
          <label for="pincode" class="fw-bold fs-6">Pincode</label>
          <input type="number" name="pincode" value="<%-userAddress.address[0].pinCode %>" id="pincode" />
        </div>
        <div class="form mt-2">
          <label for="house" class="fw-bold fs-6"
            >Flat, House no., Building, Company, Apartment</label
          >
          <input type="text" name="house" value="<%-userAddress.address[0].flatHouse %>" id="house" />
        </div>
        <div class="form mt-2">
          <label for="area" class="fw-bold fs-6"
            >Area, Street, Sector, Village</label
          >
          <input type="text" name="area" value="<%-userAddress.address[0].areaStreet %>" id="area" />
        </div>
        <div class="form mt-2">
          <label for="landmark" class="fw-bold fs-6">Landmark</label>
          <input type="text" name="landmark" value="<%-userAddress.address[0].landmark %>" id="landmark" />
        </div>
        <div class="d-flex">
          <div class="form mt-2 flex-grow-1">
            <label for="town" class="fw-bold fs-6">Town/City</label>
            <input type="text" name="town" value="<%-userAddress.address[0].townCity %>" id="town" />
          </div>
          <div class="form mt-2 flex-grow-1 ms-3">
            <label for="state" class="fw-bold fs-6">State</label>
            <select name="state" id="editState" class="statebox">
              <option value=""><%-userAddress.address[0].state %></option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="West Bengal">West Bengal</option>
            </select>
          </div>
        </div>
        <div class="mt-4 d-flex">
          <div>
            <button class="button">
              <span class="submit">Save changes</span>
              <span class="loading"><i class="fa fa-refresh"></i></span>
              <span class="check"><i class="fa fa-check"></i></span>
            </button>
          </div>
          <div class="ms-4">
            <div id="delete-button" class="delete-button">
              <div class="delete-first-step" onclick="remove('<%-userAddress.address[0].uniqueNumber %>')">Remove</div>
              <div id="step-two" class="delete-second-step">Deleted</div>
              <div id="empty" class="empty"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const button = document.querySelector(".button");
      const submit = document.querySelector(".submit");

      function toggleClass() {
        this.classList.toggle("active");
      }

      function addClassFinished() {
        this.classList.add("finished");
      }

      button.addEventListener("click", toggleClass);
      button.addEventListener("transitionend", toggleClass);
      button.addEventListener("transitionend", addClassFinished);

      const addClassAktive = (obj) => {
        obj.classList.add("aktive");
      };

      const removeClassAktive = (obj) => {
        obj.classList.remove("aktive");
      };

      let status = false;
      let stepTwo = false;
      const BUTTON = document.querySelector("#delete-button");

      BUTTON.addEventListener("click", function () {
        const OBJ = this;
        const EMPTY = OBJ.querySelector("#empty");
        const STEPTWO = OBJ.querySelector("#step-two");
        if (status === false) {
          status = true;
          addClassAktive(OBJ);
          addClassAktive(EMPTY);
          setTimeout(function () {
            addClassAktive(STEPTWO);
            setTimeout(function () {
              stepTwo = true;
            }, 250);
          }, 2500);
        }
        if (status === true && stepTwo === true) {
          removeClassAktive(OBJ);
          removeClassAktive(EMPTY);
          removeClassAktive(STEPTWO);
          setTimeout(function () {
            stepTwo = false;
            status = false;
          }, 250);
        }
      });
      function remove(uniqe){
        axios.post('/editAddressPost' ,{uniqe})
        .then(({data}) => {
          if(data == "delted"){
            setTimeout(() => {
              window.location.href = "/profile"
            }, 3500);
          }
        }).catch((err) => {
          console.log(err);
        });
      }
    </script>
  </body>
</html>
