<!DOCTYPE html>
<html lang="en">

<head>
    <title>Audio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/img/Audio-logos_transparent.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Audio-logos_transparent.png">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/formAddress.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="index.ejs">
                Audio
            </a>
            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shop">Shop</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a href="/logout">
                        <div class="btn btn-success text-light">Logout</div>
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3"><%-user.name%></h5>
                            <p class=" mb-1"><%-user.phone%></p>
                            <p class=" mb-4"><%-user.email%></p>
                            <div class="d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-outline-primary ms-1" id="editProfile"
                                    onclick="editProfile()">Edit profile</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card mb-4 mb-lg-0" style="display: none;" id="EditProfileDiv">
                        <form id="updateUser">
                         <div class="m-4 mx-5">
                            <div class="inputBox my-3" >
                                <input type="text" value="<%-user.name %>" id="userUpdatedName" placeholder="Name">
                            </div>
                            <div class="inputBox">
                                <input type="number" value="<%-user.phone %>" id="userUpdatePhone" placeholder="Number">
                            </div>
                            <div class="inputBox my-3">
                                <input type="email" value="<%-user.email %>" onkeyup="emailTriggered()" id="userUpdatedEmail" placeholder="email">
                            </div>
                            <div class="inputBox my-3 d-flex justify-content-between" id="otpLabel">
                                <input style="display: none;" type="number" class="w-50" id="userOtp" placeholder="Enter Otp">
                                <button style="display: none;" id="resendOtpButton" onclick="sendOtp()" class="updateUserButton">Send otp</button>
                            </div>
                            <p id="updateFormErr" class="text-center fw-bold"></p>
                            <div class="d-flex justify-content-center mt-3">
                            <button id="submit" class="updateUserButton p-1 px-3" onclick="submitUserUpdate('<%-user._id %>')">Update</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-8 editPage">
                    <div class="card mb-4 mb-lg-4">
                        <div class="card-body p-0">
                            <ul class="ps-3 pt-3">Manage address</ul>
                            <% user.address.forEach((i) => { %>
                                <hr>
                                <li class="ps-3 d-flex align-items-center text-center justify-content-between">
                                    <p class="mb-0 fw-bolder"><%-i.firstName%>, <%-i.phone%>, <%-i.pinCode%>, <%-i.flatHouse%>, <%-i.areaStreet %>, <%-i.landmark %>, <%-i.townCity %>, <%-i.state %></p>
                                    <div class="me-5">
                                        <a href="/editAddress/<%-i.uniqueNumber %>"><i class="ms-2 fa-solid fa-pen-to-square"></i></a>
                                    </div>
                                </li>
                            <% }) %>
                            <hr>
                            <div class="mt-2 ms-2 mb-2">
                                <button type="button" class="btn btn-outline-primary" id="editProfile"
                                    onclick="editAddress()">Add address</button>
                            </div>  
                        </div>
                    </div>

                    <!-- form address -->
                    <div class="card mb-2" style="display: none;" id="saveBtnadd">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name" class="fw-bolder">Full name</label>
                                <input type="text" name="name" id="fullName">
                            </div>
                            <div class="form-group">
                                <label for="phone" class="fw-bolder">Phone</label>
                                <div class="prefix-group">
                                    <span class="prefix">+91</span>
                                    <input type="number" name="phone" id="phoneNum" onkeyup="validateNumber()" class="form-control">
                                </div>
                                <p id="phoneErr" class="mt-2 fw-bold"></p>
                            </div>
                            
                            <div class="form-group">
                                <label for="pincode" class="fw-bolder">Pin code</label>
                                <input type="number" name="phone" onkeyup="validateOtp()" id="pincode" placeholder="6 digits [0-9] PIN code"
                                    required>
                                <p id="pinErr" class="mt-2 fw-bold"></p>
                            </div>
                            <div class="form-group">
                                <label for="flat" class="fw-bolder">Flat, House no., Building, Company,
                                    Apartment</label>
                                <input type="text" name="phone" id="flateHouse" required>
                            </div>
                            <div class="form-group">
                                <label for="area" class="fw-bolder">Area, Street, Sector, Village</label>
                                <input type="text" name="phone" id="areaStreet" required>
                            </div>
                            <div class="form-group">
                                <label for="landmark" class="fw-bolder">Landmark</label>
                                <input type="text" name="phone" id="landmark" placeholder="E.g. near bank road">
                            </div>
                            <div class="d-flex">
                                <div class="form-group me-5">
                                    <label for="town" class="fw-bolder">Town/City</label>
                                    <input type="text" name="town" id="townCity" required>
                                </div>
                                <div class="form-group">
                                    <label for="state" class="fw-bolder">State</label>
                                    <select name="state" id="stateAddress" class="statebox">
                                        <option value="">Select State</option>
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex">
                            <div type="button" id="submitAddress" onclick="saveBtnadd()" class="btn btn-primary">Save Address</div>  
                            <p class="ps-3 fw-bold mt-2" id="allField"></p>
                        </div>
                    </div>
                    <!-- form adress -->
                </div>

            </div>
        </div>
        </div>
    </section>
    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Audio</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            123 Consectetur at ligula 10660
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Luxury</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
                        <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
                        <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>
                    </ul>
                </div>
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                                    class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank"
                                href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                    class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank"
                                href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Company Name
                            | Designed by <a rel="sponsored" href="https://templatemo.com"
                                target="_blank">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- End Footer -->
    <script>
        const saveAddress = document.getElementById('saveBtnadd')
        const fullName = document.getElementById('fullName')
        const phone = document.getElementById('phoneNum')
        const pinCode = document.getElementById('pincode')
        const flatHouse = document.getElementById('flateHouse')
        const areaStreet = document.getElementById('areaStreet')
        const landmark = document.getElementById('landmark')
        const townCity = document.getElementById('townCity')
        const state = document.getElementById('stateAddress')
        const errPhone = document.getElementById('phoneErr')
        const errPin = document.getElementById('pinErr')
        const errField = document.getElementById('allField')
        const UserEmail = `<%-user.email%>`

        saveAddress.addEventListener("submitAddress", (e) => {
            e.preventDefault()
        })
        function saveButton() {
            let save = document.getElementById('savebtn')
            save.style.display = "none"
        }
        function editProfile() {
            let save = document.getElementById('EditProfileDiv')
            save.style.display = "block"
        }
        function editAddress() {
            let saveAddress = document.getElementById('saveBtnadd')
            saveAddress.style.display = "block"
        }
        function saveBtnadd() {
            let saveAddress = document.getElementById('saveBtnadd');
            axios.post('/postProfile',  { 
                firstName: fullName.value,
                phone: phone.value,
                pinCode: pinCode.value,
                flatHouse: flatHouse.value,
                areaStreet: areaStreet.value,
                landmark: landmark.value,
                townCity: townCity.value,
                state: state.value,
            })
            .then(({data}) => {
                if(data == "successfully added"){
                   window.location.href = '/profile'
                }
                else if(data == "Fill all the field"){
                    errField.innerHTML = "Fill all the field"
                    errField.style.color = "red"
                    setTimeout(() => {
                        errField.innerHTML = ""
                    }, 3000);
                }
            }).catch((err) => {
                console.log(err);
            });
        }

        function validateNumber(){
            errPhone.innerHTML = "phone"
            if(phone.value.length < 10 ||phone.value.length > 10){
                errPhone.innerHTML = "Number must be 10 digits"
                errPhone.style.color = "red"
            }
            else{
                errPhone.innerHTML = "Verified"
                errPhone.style.color = "green"
                setTimeout(() => {
                    errPhone.innerHTML = ""
                }, 3000);
            }
        }
        function validateOtp(){
            if(pinCode.value.length < 6 || pinCode.value.length > 6){
                errPin.innerHTML = "Number must be 6 digits"
                errPin.style.color = "red"
            }
            else{
                errPin.innerHTML = "Verified"
                errPin.style.color = "green"
                setTimeout(() => {
                    errPin.innerHTML = ""
                }, 3000);
            }
        }
        // updateUser
        const updateUser = document.getElementById('updateUser')

        updateUser.addEventListener('submit',(e) => {
            e.preventDefault()
        })
        const otpLabel = document.getElementById('otpLabel')
        const resendOtp = document.getElementById('resendOtpButton')
        const Otp = document.getElementById('userOtp')
        const updateEmail = document.getElementById('userUpdatedEmail')

        function emailTriggered(){
            Otp.style.display = "block"
            resendOtp.style.display = "block"
            }
         function sendOtp(){
            axios.post('/profileOtpSend',{
                email : updateEmail.value
            })
         }
        function submitUserUpdate(id){
            const updateName = document.getElementById('userUpdatedName')
            const updatePhone = document.getElementById('userUpdatePhone')
            const err = document.getElementById('updateFormErr')
            
            if(updatePhone.value.length < 10 || updatePhone.value.length > 10){
                err.innerHTML = "Number must be 10 digits"
                err.style.color = "red"
                setTimeout(() => {
                    err.innerHTML = ""
                }, 3000);
            }
            else{
                    axios.post('/updateUser',{
                        id,
                        name : updateName.value,
                        email : updateEmail.value,
                        phone : updatePhone.value,
                        otp : Otp.value,
                    })
                    .then(({data}) => {
                        if(data == "otp incorrect"){
                            err.innerHTML = "otp Incorrect"
                            err.style.color = "red"
                            setTimeout(() => {
                            err.innerHTML = ""
                            }, 3000);
                        }
                        else if(data == true){
                            window.location.href = "/profile"
                        }
                    })
            }
        }
    </script>  
</body>

</html>